<nav>
  <a href="%BASE%/index.html">Home</a>  

  <div class="dropdown">
    <a href="javascript:void(0)">About ▾</a>

    <div class="dropdown-content">
        <a href="%BASE%/Profile.html">Profile</a>
        <a href="%BASE%/Services.html">Services</a>
        <a href="%BASE%/Portfolio.html">Portfolio</a>
        <a href="%BASE%/Testimonials.html">Testimonials</a>
    </div>
  </div>
  
  <a href="%BASE%/gallery.html">Gallery</a>
  <a href="%BASE%/contact.html">Contact</a>
</nav>